@page "/soloAutenticados"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<h2>Área protegida</h2>
<p>Solo usuarios autenticados pueden ver esto.</p>

<AuthorizeView>
    <Authorized>
        <p>Bienvenido, @context.User.Identity?.Name!</p>
    </Authorized>
</AuthorizeView>

<a href="/">Volver al inicio</a>