@page "/menucliente"
@using BlazorApp.Shared
@using DTOs
@inject NavigationManager Navigation
@inject LoginState LoginState

<Header />
<br />
<br />
<br />
<br />

@if (LoginState.Usuario is not null)
{
    <Bienvenida />
}

<br />
<br />

<div class="list-group">
    <button class="list-group-item list-group-item-action" @onclick="IrAProductos">Ver Productos</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAEventos">Ver Eventos</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAFiestas">Ver Fiestas</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAMisCompras">Ver Mis Compras</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAComprarProducto">Comprar Producto</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAMisComprasProductos">Mis Productos</button>
</div>

<Footer />
@code {

    protected override void OnInitialized()
    {
        if (LoginState.Usuario == null)
        {
            LoginState.MensajeTemporal = "Debe iniciar sesión para acceder al menú del cliente";
            Navigation.NavigateTo("/login", true);
        }
    }

    private void IrAProductos()
    {
        Navigation.NavigateTo("/listarproductos");
    }

    private void IrAEventos()
    {
        Navigation.NavigateTo("/listareventos");
    }

    private void IrAFiestas()
    {
        Navigation.NavigateTo("/listarfiestas");
    }

    private void IrAMisCompras()
    {
        Navigation.NavigateTo("/listarcompras");
    }
    private void IrAComprarProducto()
    {
        Navigation.NavigateTo("/comprar-producto");
    }
    private void IrAMisComprasProductos()
    {
        Navigation.NavigateTo("/listarcomprasProds");
	}
}