@page "/menucliente"
@using BlazorApp.Shared
@using DTOs
@inject NavigationManager Navigation
@inject LoginState LoginState


<Header />
<br />
<br />
@if (LoginState.Usuario is not null)
{
    <Bienvenida />
}
else
{
    LoginState.MensajeTemporal = "Debe iniciar sesión para acceder al menu del cliente";
    Navigation.NavigateTo("/login");
    return;
}
<br />
<br />

<div class="list-group">
    <button class="list-group-item list-group-item-action" @onclick="IrAProductos">Ver Productos</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAEventos">Ver Eventos</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAFiestas">Ver Fiestas</button>
    <button class="list-group-item list-group-item-action" @onclick="IrAMisCompras">Ver Mis Compras</button>
</div>

@code {


    [Parameter]
    public UsuarioDTO usuarioIngresado { get; set; }

    private void IrAProductos()
    {
        Navigation.NavigateTo("/listarproductos");
    }

    private void IrAEventos()
    {
        Navigation.NavigateTo("/listareventos");
    }

    private void IrAFiestas()
    {
        Navigation.NavigateTo("/listarfiestas");
    }

    private void IrAMisCompras()
    {
        Navigation.NavigateTo("/listarcompras");
    }
}